{% extends 'crud/base.html' %}

{% block title %}Especialidades{% endblock %}

{% load static %}

{% block first_content %}
<section class="container my-2">
    <div class="row">
        {% if 'OK' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Yey!</strong> Especialidad registrada satisfactoriamente!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'UPDATED' in request.GET %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Yey!</strong> Especialidad actualizada satisfactoriamente!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'DELETED' in request.GET %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Oh!</strong> Especialidad eliminada satisfactoriamente!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oh!</strong> No se encontró lo que está buscando!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if 'NO_EXIST' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oh!</strong> No se encontró la especialidad que buscas!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>

<section class="container my-2">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-head">
                <tr>
                    <th>Especialidad</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for e in especialidades %}
                <tr>
                    <td>
                        <h6><a class="card-link text-decoration-none" href="{% url 'asig-especialidad-crud' specialization=e.id %}">{{e.specialization}}</a></h6></td>
                    <td>
                        {% if e.image %}
                        <img class="img-especialidad" src="{{e.image.url}}" alt="">
                        {% else %}
                        <img class="img-especialidad" src="{% static 'crud/img/image_not_found.jpg' %}" alt="">
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-none" href="{% url 'specialization-detail' id=e.id %}"> 
                            <span class="fs-4 btn-view">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                        <a class="btn btn-outline-none" href="{% url 'specialization-edit' id=e.id %}">
                            <span class="fs-4 btn-edit">
                                <i class="fa-solid fa-pen"></i>
                            </span>
                        </a>
                        <a class="btn btn-outline-none modal-borrar" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            data-href="{% url 'specialization-delete' id=e.id %}">
                            <span class="fs-4 btn-delete">
                                <i class="fa-solid fa-trash-can"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mensajes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title">¿Estás seguro que deseas eliminar la especialidad seleccionada?<br>Esta acción no
                    se puede deshacer.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Me arrepiento</button>
                <a class="btn btn-primary" id="confirmar-borrar" href="#">¡Dale con todo!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="{% static 'crud/js/funciones.js' %}"></script>
{% endblock %}
